.card-my-form {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 400px;
  margin-bottom: 21px;
  margin-right: 21px;
}
.content {
  padding-top:20px;
  padding-bottom: 20px;
}
mat-form-field, mat-slider {
  width: 100%;
}

button {
  margin-right: 20px;
}
.mat-mdc-form-field-infix {
  width: auto;
}
.feed-quantity {
  min-width: 100px;
}
.title-form {
  width:100%;
}
