<mat-card class="card-my-form-signup">
  <mat-card-header>
    <mat-card-title>Se creer un compte</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="my-form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" tabindex="1" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom / Pseudo</mat-label>
        <input matInput [formControl]="name" tabindex="1" required>
        <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Entrez votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" tabindex="2">
        <button tabindex="5" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmation</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="confirmation" tabindex="3">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmation.invalid">{{getConfirmationErrorMessage()}}</mat-error>
      </mat-form-field>
      <button tabindex="4" mat-raised-button color="accent" [disabled]="password.invalid || email.invalid || confirmation.invalid" (click)="signUp()">Valider</button>
    </div>
    <p class="no-account">Déjà un compte ? <a routerLink="/login">Connectez-vous</a></p>
  </mat-card-content>
</mat-card>



