<mat-card class="card-my-form">
  <mat-card-header class="mb-10">
    <mat-card-title *ngIf="!isReadonly && !isCreated">{{ 'form-feed.title.add' | translate }}</mat-card-title>
    <mat-card-title *ngIf="isReadonly && isCreated">{{ 'form-feed.title.view' | translate }}</mat-card-title>
    <mat-card-title *ngIf="!isReadonly && isCreated">{{ 'form-feed.title.edit' | translate }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <form class="my-form" [formGroup]="form" (submit)="validate()">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'form-feed.name.label' | translate }}</mat-label>
        <input matInput [formControlName]="'name'" [readonly]="isReadonly" tabindex="1" required>
        <mat-error *ngIf="name?.errors?.['required']">{{ 'form-feed.name.error.required' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'form-feed.brand.label' | translate }}</mat-label>
        <input matInput [formControlName]="'brand'" [readonly]="isReadonly" tabindex="2" maxlength="50">
        <mat-error *ngIf="brand?.errors?.['maxlength']">{{ 'form-feed.brand.error.maxlength' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'form-feed.price.label' | translate }}</mat-label>
        <span matTextSuffix="">$</span>
        <input matInput [formControlName]="'price'" [readonly]="isReadonly" tabindex="3">
        <mat-error *ngIf="price?.errors?.['min']">{{ 'form-feed.price.error.min' | translate }}</mat-error>
        <mat-error *ngIf="price?.errors?.['max']">{{ 'form-feed.price.error.max' | translate }}</mat-error>
        <mat-error *ngIf="price?.errors?.['pattern']">{{ 'form-feed.price.error.pattern' | translate }}</mat-error>
      </mat-form-field>
      <div class="flex">
        <div class="grow">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'form-feed.weight.label' | translate }}</mat-label>
            <input matInput [formControlName]="'weight'" [readonly]="isReadonly" tabindex="4">
            <mat-error *ngIf="weight?.errors?.['min']">{{ 'form-feed.weight.error.min' | translate }}</mat-error>
            <mat-error *ngIf="weight?.errors?.['max']">{{ 'form-feed.weight.error.max' | translate }}</mat-error>
            <mat-error *ngIf="weight?.errors?.['pattern']">{{ 'form-feed.weight.error.pattern' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="shrink ml-10">
          <mat-form-field appearance="fill">
            <mat-select [formControlName]="'unit'" tabindex="5">
              <mat-option value="kg">kg</mat-option>
              <mat-option value="L">L</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'form-feed.ratio.label' | translate }}</mat-label>
        <span matTextSuffix="">kg / L</span>
        <input matInput [formControlName]="'ratio'" [readonly]="isReadonly" tabindex="4">
        <mat-error *ngIf="ratio?.errors?.['min'] || ratio?.errors?.['max']">{{ 'form-feed.ratio.error.min-max' | translate }}</mat-error>
        <mat-error *ngIf="ratio?.errors?.['pattern']">{{ 'form-feed.ratio.error.pattern' | translate }}</mat-error>
      </mat-form-field>
      <button *ngIf="!isReadonly" type="submit" tabindex="5" mat-raised-button color="accent">{{ 'form-feed.button.validate' | translate }}</button>
      <button *ngIf="isReadonly" type="button" (click)="edit()" tabindex="6" mat-raised-button color="accent">{{ 'form-feed.button.edit' | translate }}</button>
      <button *ngIf="!isReadonly && isCreated" type="button" (click)="delete()" tabindex="7" mat-raised-button>{{ 'form-feed.button.delete' | translate }}</button>
    </form>

  </mat-card-content>
</mat-card>
