<mat-card class="card-my-form-signin">
  <mat-card-header>
    <mat-card-title>{{ 'login.title' | translate }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="my-form">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'login.form.email.label' | translate }}</mat-label>
        <input matInput [formControl]="email">
        <mat-error *ngIf="email.invalid">{{ 'login.form.email.error.invalid' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'login.form.password.label' | translate }}</mat-label>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password.invalid">{{ 'login.form.email.error.invalid' | translate }}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'login.form.password.hide' | translate"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="login()">Valider</button>
    </div>
    <p class="no-account">Pas de compte ? <a routerLink="/signup">Créez-en un</a></p>
  </mat-card-content>
</mat-card>



