/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.shrink {
  flex-shrink: 1;
  flex: none;
}

.grow {
  flex-grow: 1;
}
mb-40 {
  margin-bottom:40px;
}
